[submodule "Archives"]
	path = Archives
	url = ./Archives/
[submodule "Areas"]
	path = Areas
	url = ./Areas
[submodule "Resources"]
	path = Resources
	url = https://codeberg.org/OmegaLambda/Resources
[submodule "Projects"]
	path = Projects
	url = git@codeberg.org:OmegaLambda/Projects.git
